html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family: Helvetica, Arial;
	vertical-align:baseline;
	margin:0;
	padding:0;
}
a {font-family: Helvetica, Arial; text-decoration: underline;}
/*--------------------------------------------*/
.face{ background: url(../images/fb.jpg) no-repeat; width: 28px; height: 28px; display: block; float: left;   }
.face:hover{ background: url(../images/fb-hover.jpg) no-repeat; }
.twit{ background: url(../images/twitter.jpg) no-repeat;  width: 28px; height: 28px; display: block; float: left;  }
.twit:hover{ background: url(../images/twitter-hover.jpg) no-repeat; }
.print{ background: url(../images/pinterest.jpg) no-repeat; width: 28px; height: 28px; display: block; float: left;   }
.print:hover{ background: url(../images/pinterest-hover.jpg) no-repeat; }
.insta{ background: url(../images/insta.png) no-repeat; width: 28px; height: 28px; display: block; float: left;   }
.insta:hover{opacity:0.4;}
.vsco{ background: url(../images/vsco.png) no-repeat; width: 28px; height: 28px; display: block; float: left;   }
.vsco:hover{opacity:0.4;}
.google{ background: url(../images/google.png) no-repeat; width: 28px; height: 28px; display: block; float: left;   }
.google:hover{opacity:0.4;}

/*---------------------------------------------*/


table {
	border-collapse:separate;
	border-spacing:0;
	margin-bottom:1.4em;
}
caption, th, td {
	text-align:left;
	font-weight:400;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}
blockquote, q {
quotes:;
}
a img {
	border:0 none;
}
.clear {
	clear:both;
}
/* 
---------------------------------------------------------------------------------------------------------- 
02 Main Layout
---------------------------------------------------------------------------------------------------------- 
*/
html, body {
	height:100%;
	width:100%
}
body {
	background-color:white;
}
.wrapper {
	display:table;
	width:100%;
	height:100%;
	margin:auto;
}
.cell {
	display:table-cell;
	width:100%;
	vertical-align:middle;
	position:relative;
}
.page {
	max-width:600px;
	width:92%;
	margin-left:auto;
	margin-right:auto;
	position:relative
}
.page-project {
	max-width:100%;
	width:92%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	text-align: center
}
img {
	width: auto;
	max-width: 100%;
	height: auto;
}
body {
	/*background:#152f42 url(../images/body_bg.jpg) repeat-x;*/
	font-family:'blanchcaps_inline';
	font-size:14px;
	padding:0;
}
.wrapp {
	background:#FFF;
	width:959px;
	max-width:100%;
	min-width:480px;
	margin:0 auto;
	position:relative;
}
header { /*min-height:80px; position:fixed;*/
	z-index:9999;
	display:block;
	width:959px;
	max-width:100%;
	min-width:480px;
	margin:0 auto;
	background:#fff;
}
.logo_iphone {
	display:none;
}
.logo {
	position:absolute;
	left:40%;
	top:5px;
	display:block;
	z-index:9999;
}
.logo_inner {
	position:absolute;
	top:5px;
	display:block;
	z-index:9999;
	height:100px !important;
	font-size: 65px;
	font-family:'blanchcaps_inline';
	width:195px;
	padding:22px 0px 50px 0px;
	text-align:center;
}
.logo_inner span {
	font-size:54px;
	font-family:'blanchcaps_inline';
}
.nav_left {
	margin-top:10px;
}
.nav_left ul {
	padding:0px;
	margin:0px;
	margin-top:5px;
	float:left;
}
.nav_left li {
	list-style-type:none;
	display:inline;
	margin-right:10px;
}
.nav_left p a {
	font-size:42.19px;
	color:#000;
	font-family:'blanchcaps_inline';
}
.nav_left li a {
	font-size:42.19px;
	color:#000;
	font-family:'blanchcaps_inline';
}
.nav_right {
	padding-right:5px !important;
	text-align:right;
	margin-top:10px;
}
.nav_right ul {
	padding:0px;
	margin:0px;
	margin-top:5px;
	float:right;
}
.nav_right li {
	list-style-type:none;
	display:inline;
	margin-left:10px;
	position:relative;
}
.nav_right p a {
	font-size:42.19px;
	color:#000;
	font-family:'blanchcaps_inline';
}
.nav_right li a {
	font-size:42.19px;
	color:#000;
	font-family:'blanchcaps_inline';
}

.nav_left li a:hover {
	background:#aee1f4;
}

.nav_right li a:hover {
	background: #f597a1;
}

nav_right li:hover a {
	color:#000;
	
}
.nav_right li:hover ul {
	display:block !important;
}
.nav_right li ul {
	display: none;
	left: 0;
	position: absolute;
	top: 5px;
	z-index: 99999;
	padding: 15px 3px 10px 0;
	background: none repeat scroll 0 0 #fff;
	width: 140px;
}
.nav_right li .sub-menu li {
	width:20%;
}
.nav_right li .sub-menu li a {
	font-size: 30px;
	line-height: 26px;
}
.sub-menu {
	width: 145px;
}
.banner {
	position:relative;
	padding:0px;
	margin:0px;
	margin-top:85px;
	margin-bottom:24px;
	display:block;
}
.banner_iphone {
	display:none;
}
.left_arrow {
	position:absolute;
	width:81px;
	height:83px;
	float:left;
	left:0px;
	top:38.5%;
	z-index:99;
}
.right_arrow {
	position:absolute;
	width:81px;
	height:83px;
	float:left;
	right:0px;
	top:38.5%;
	z-index:99;
}
.nav_border {
	height:40px;
	border-left:0px;
	border-right:0px;
	position:relative;
}
.images_pan {
	padding:20px 77px 0px;
	margin:0px;
	position:relative;
}
.images_pan ul {
	padding:0px;
	margin:0px;
}
.images_pan li {
	list-style-type:none;
	display:inline;
	float:left;
	margin-left:28px;
	margin-bottom:33px;
}
#how_we .flex-direction-nav li .prev {
	left:-215px!important;
	top:125px !important;
}
#price1 .flex-direction-nav li .next {
	right:-355px!important;
	top:155px !important;
}
#faqs .flex-direction-nav li .prev {
	left:-215px!important;
}
#faqs .flex-direction-nav li .next {
	right:-43px!important;
	margin-top:2px;
}
#amigo .responsive-slider.flexslider .flex-direction-nav li .next {
	right: 0px !important;
}
.faq_pan {
	padding:40px 35px 25px !important;
	margin:0px;
	overflow:hidden; /*background:url(../images/faq_bg.png) no-repeat bottom;*/
	position:relative;	
}
.faq_pan_left {
	width:62%!important;
	margin-top:35px;
}
.faq_pan_left ul {
	padding:0px;
	margin:0px;
}
.faq_pan_left li {
	list-style-type:none;
	padding:0px 0px;
	float:left;
	width:90%;
}
.faq_pan_left li a {
	font-size:39.38px;
	color:#000;
	font-family:'blanchcaps_inline';
}
.faq_pan_right {
}
.faq_pan_right ul {
	padding:0px;
	margin:0px;
	float:right;
}
.faq_pan_right li {
	list-style-type:none;
	padding:35px 0px;
}
.faq_pan_right li a {
	font-size:39.38px;
	color:#000;
	font-family:'blanchcaps_inline';
}
.about_pan {
	position:relative;
	/*overflow:hidden;*/
	padding:47px 35px 7px !important;
	border-top:2px solid #000;
	/*margin:0px 35px;*/
	height:500px;
}
.about_pan_left {
	background:#FFF;
	text-align:center;
	padding:0px !important;
}
.about_pan_left img {
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
-0-border-radius: 250px;
	border-radius: 250px;
	vertical-align:middle;
	height:auto;
	padding:0 16px 12px 6px !important;
}
.about_pan_right {
	background:#bee3f6;
	text-align:center;
	width:480px;
	height:auto;
	position:relative !important;
	padding:0 16px 12px 6px !important;
}
.about_pan_right a p {
	font-size:45px;
	color:#fff !important;
	margin-top:178px;
	font-family: 'haymakerregular';
}
.bg_color {
	background:#f39ba6 !important;
}
.tooltip1 span {
	display: none;
	margin-left: 0;
	position: absolute;
}
.tooltip1 span:hover {
	color:#FFF;
	display:block;
	top:0px;
	left:0px;
	z-index:999;
	background:#000;
	position:absolute;
	width:200px;
}
.prs_blg {
	text-align:center;
	position:relative;
	margin-bottom:24px;
	padding-top:34px;
}
.how_we_work { /*margin-top:167px;min-height:570px;*/
	position:relative;
	min-height:500px;
	padding:100px 35px 0px;
	height:500px;
}
.price_pan {
	height:620px;
	position:relative;
	padding:0 35px 7px !important;
}
.amigos {
	height:500px;
	position:relative;
	padding:100px 35px 7px !important;
}
.other_work {
	min-height:540px;
	position:relative;
	padding:0px 35px 7px !important
}
.other_work_inner {
	text-align:center;
}
.other_work_inner h4 {
	font-size:107px;
	font-family:'blanchcaps_inline';
	font-weight:normal;
	color:#000;
}
.other_work_inner ul li {
	list-style:none;
	padding-bottom:30px;
}
nav {
	display:none
}
.logo_inner_long {
	width: 432px;
	left: 28%;
	background: url("../images/logo_bg.png") no-repeat scroll center 0 transparent;
}
.how_it_work {
	background: url("../images/logo_bg.png") no-repeat scroll center 0 transparent;
	left: 39%;
	width: 232px;
	font-family:'blanchcaps_inline' !important;
}
.other_work .left_arrow {
	bottom:-5%;
	top: auto;
	left:35px;
	font-size: 50px;
	width:250px;
	line-height:84px;
}
.left_arrow a {
	font-family:'blanchcaps_inline';
	color:#d3ecf9;
}
.other_work .left_arrow img {
	float:left;
}
.other_work .right_arrow {
	bottom:-5%;
	top: auto;
	right:35px;
	font-size: 50px;
	width:210px;
	font-family:'blanchcaps_inline' !important;
	line-height:84px;
}
.other_work .right_arrow img {
	float:right;
}
.portrait .ngg-gallery-thumbnail img {
	border:none !important;
}
.portrait .ngg-gallery-thumbnail {
	margin-right:1px !important;
}
.corporate .ngg-gallery-thumbnail img {
	border:none !important;
}
.corporate .ngg-gallery-thumbnail {
	margin-right:1px !important;
}
.contact_form {
	min-height:160px;
	position:relative;
	padding:58px 48px 62px !important;
}
.celltitle h1 {
	color: #000000;
	font-family: 'blanchcaps_inline';
	font-size: 56px;
	text-align:center;
	font-weight:normal;
	margin:0px;
	border-top:2px solid #000;
}
.other_work_inner > p {
	font-size: 30px;
	line-height: 28px;
	text-align: left;
}
.other_work_inner a {
	color:#AEE1F4;
}
#contact > p {
	font-size:27px;
}
#contact p a {
	color: #A0B9CD;
}
.right_arrow a {
	font-family:'blanchcaps_inline';
	color:#f39ba6;
}
.img_home {
	margin-top:0px;
}
.contact input {
	width: 50% !important;
}
.contact textarea {
	width: 50% !important;
}
/*.prs_blg img {
	margin-left:100px !important;
}*/
#amigo p {
	margin-left:30px !important;	
	font-size: 14px;
	font-weight: normal;
	line-height: 1.4;
	font-family: Helvetica, Arial;
}

#amigo .howwe_text {margin:0 auto; float: none;}


#amigo .slide  h1 {
	margin-left:40px !important;
	margin-right:121px !important;
	color: #000000;
	font-family: 'blanchcaps';
	font-size: 31.19px;
	font-weight:normal;
}
#faqs .slide  h1 {
	margin-left:40px !important;
	margin-right:92px !important;
	color: #000000;
	font-family: 'blanchcaps';
	font-size: 31.19px;
	font-weight:normal;
}
#faqs p {
	margin-left:12% !important;
	margin-right:92px !important;
	/*min-height:200px;*/
	font-size: 14px;
	font-weight: normal;
	line-height: 1.4;
	font-family: Helvetica, Arial;
}
#how_we p {
	margin-left:30px !important;
	margin-right:60px !important;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.4;
	font-family: Helvetica, Arial;
}
.flexslider .slide p,#mySwipe .swipe-wrap p{
color:#000;
word-spacing:4px;
line-height:17px;
font-size:14px;
}
#how_we .slide  h1 {
	margin-left:50px !important;
	color: #000000;
	font-family: 'blanchcaps';
	font-size: 31.19px;
	font-weight:normal;
}
#price1 p {
	margin-left:100px !important;
	margin-right:40px;
	font-size: 14px;
	font-weight: normal;
	line-height: 17px;
	font-family:Helvetica,Arial;
	text-align:left !important;
}
#price1 .slide  h1 {
	margin-left:90px !important;
	color: #000000;
	font-family: 'blanchcaps';
	font-size: 31.19px;
	font-weight:normal;
}
#submitted {
	background: none repeat scroll 0 0 #EB956E;
	border: medium none;
	border-radius: 5px 5px 5px 5px;
	padding: 6px;
	width: 9% !important;
}
.imagetitle {
	float:none;
}
#contact{ padding-top:20px;}
.ngg-galleryoverview{ width:102% !important;}
.blg-top{ bottom:-30px;}
.inprs_blg{ padding-top:0px;}

.ngg-gallery-thumbnail {text-align: left;}
/*-----footer--------*/
footer {
	background:#000;
	color:#fff;
	padding:25px;
}
.in-footer {
	background:#fff;
	color:#000;
	padding:40px 25px 5px;
}
.foter_left {
	float:left;
	width:100%;
}
.foter_left p {
	font-family: Helvetica, Arial;
    float: left;
    font-size: 14px;
    margin-bottom: 0;
    margin-top:20px;
    padding: 0 2%;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.foter_left .ft-email {border-left:1px solid black; border-right:1px solid black;}
.foter_left p:last-child{
background:none !important;
}

.foter_left p a {
	color:#000;
	text-decoration:none;
	font-family: Helvetica, Arial;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;

}
.foter_left p span {
	color:#fff;
}
.foter_right {
	float:right;
	width:50%;
	border-left:1px solid #fff;
	padding-left:40px;
}
footer h2 {
	font-size:40px;
	color:#f698a1;
	font-weight:normal;
	line-height:60px;
	padding:0px;
	margin:0px;
}
.in-footer h2{
	color:#000;
}
.in-foter_left p{
	color:#000;
}
.in-foter_left p a{
	color:#000000;
}
.in-foter_left p span{
	color:#000000;
	font-family: Helvetica, Arial;
	}
.foter_right ul {
	float:left;
	width:40%;
}
.foter_right ul li {
	list-style:none;
}
.foter_right ul li a {
	font-size:25px;
	line-height:25px;
	color:#fff;
}
.in-foter_right{ border-left:1px solid #cccccc;}
.in-foter_right p{ text-align:right;}
.in-foter_right ul li a {
	color:#f395a3;
}
.foter_right p {
	font-size:24px;
	padding-top:3px;
        margin-bottom: 8px !important;
}


#menu-footer_right {
	width:60%;
}
.follw {
	width:100%;
        margin-top: 16px;
}
.follw p {
	font-size:25px;
	padding-right:20px;
}
.follw ul {
	margin-bottom:0px;
        margin-top: 14px;
}
.follw li {
    float:left;
	list-style:none;
	height:29px;
}
.follw li a {
	color:#FFF;
	background:url(../images/fb_icon.png) no-repeat;
	display: block;
    font-size: 25px;
    height: 41px;
    line-height: 41px;
    padding: 0 9px 5px 52px;
}
.inner-follow{}
.inner-follow li a{ color:#f395a3; background:url(../images/in-fb_icon.png) no-repeat;}
.tw_icn {
	background-position:0px -42px !important;
}
.in-tw_icn {
	background-position:0px -42px !important;
}
.foter_right p span {
	/*font-size:15px;*/
}
.abt-title h1 {
	border:0px !important;
}
.other_work .ft-left-arrow {
	display:none;
}
.other_work .ft-right-arrow {
	display:none;
}


.how_we_work .slide{
    width: 92%;

}
.amigos .slide {
    height: 380px;
    width: 90%;
}
.price_pan .slide {
    height: 300px;
	width:100%;
}
.faq_pan .slide {
    height: 100%;
    width: 93%;
}

/* Blog Management */
.blog_content {
    font-size: 19px;
    line-height: 24px;
}
.blog_content > div {
    font-size: 14px;
}

.blogs_manage {
    width: 70%;
	float:left;
}
.blogs_manage .author_date{
font-size:15px;
border-bottom: 3px solid #AEE1F4;
}

.blog_right {
    border: 1px solid #CCCCCC;
    float: left;
    margin-left: 50px;
    padding: 0 10px 10px;
    width: 20%;
}

.blogs_manage h3 {    
	color:#F597A1;
}

.jaw_widget .jaw_years {
    list-style: none outside none;
    font-family: Helvetica, Arial;

}
.jaw_widget .jaw_months {
    list-style: none outside none;
	line-height: 23px;
	font-family: Helvetica, Arial;

}

.jaw_years{
    font-size: 14px;	
	line-height:29px;
	color: #002454;
    font-family: Helvetica, Arial;

}
.jaw_posts {
    font-size: 15px;
    line-height: 21px;
    font-family: Helvetica, Arial;

}

.jaw_posts a {    font-family: Helvetica, Arial; font-size:11px;
}

#inner_blogs .entry-header {
    background: none repeat scroll 0 0 transparent;
	border-bottom: 3px solid #AEE1F4;
}
#inner_blogs .entry-meta {
    padding-bottom: 11px;
}

#inner_blogs h1 {
    font-size: 32px;
	color:#F597A1;
}

#inner_blogs .entry-content p {
    font-size: 14px;
    line-height: 1.4;
    padding: 4px;
    font-family: Helvetica, Arial;
}

.back_home{
margin-top:15px;font-size:20px;
}

.latest_blog_img{
width:235px;
height:161px;
}

#inner_blogs .entry-content > div {
    font-size: 14px;
    line-height: 1.4;
    padding: 4px;
    font-family: Helvetica, Arial;
}

#inner_blogs footer{
background: none repeat scroll 0 0 #FFFFFF !important;
    color: #000000;
    font-size: 20px;
    padding: 10px;
}

#inner_blogs .avatar{
    float: left;
    margin-right: 21px;
}

#inner_blogs .comment-content {
    font-size: 20px;
}
#inner_blogs .comment-author.vcard,.comment-content > p {
    font-size: 21px;
}

#inner_blogs .form-submit > input {
    background: none repeat scroll 0 0 #CCCCCC;
    border: medium none;
    padding: 9px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


#inner_blogs .reply {
    text-align: center;
}

/*end */





/*----------------------------mob-------------------*/
.contact p {
}
.portrait {
	margin-left:78px;
}
.corporate {
	margin-left:78px;
}
.ngg-gallery-thumbnail-box {
	padding-bottom:0px;
}
.toolti3 > span {
	font-size: 21px;
	padding-top: 18px;
	vertical-align: middle;
}
#desc .six {
	font-size: 18px;
	line-height: 22px;
	padding-top: 14px;
	vertical-align: middle;
}
.slideshowlink {
	display:none;
}
#price1 .flex-direction-nav li .prev {
	left:1px !important;
	top:155px !important;
}
#other-work .ngg-galleryoverview-new {
	width: 102% !important;
}
.thumbimage li, .ngg-gallery-thumbnail img {
	border: 1px solid #ccc;
	margin: 4px 0 4px 13px;
	padding: 4px 4px 0;
}
#top a {
	float:right;
	font-size:25px;
}
#top1 a {
	float:right;
	font-size:25px;
	margin-top:10px;
}
.faqimage {
	width:30%;/*margin-left:20px;*/
	float:left;
	/*margin-top:60px;*/
}
.faqtext {
	float:left;
	width:65%;
	margin-top:20px;
}
.howwe_image {
	width:30%;/*margin-left:20px;*/
	float:left;
}
.howwe_text {
	float:left;
	width:70%;
}
.pricetext {
	float:left;
	width:70%;
	margin-top:70px
}
.priceimage {
	width:30%;
	margin-top:50px;
	float:right;/*margin-left:36px;*/
}
.amigostext {
	margin-top:30px;
}
.imagetitle h1 {
	color: #000000;
	font-family: 'blanchcaps_inline';
	font-size: 66.19px;
	font-weight:normal;
	text-align:center;
}
.laugh {
	color:#cbe7f5;
	font-family: 'blanchcaps_inline';

}
.laugh1 {
	color:#cc2e3b;
	font-family: 'blanchcaps_inline';

}
.owen {
	text-align:left;
	width:286px;
	margin-top:20px;
}
.owen img {
	border-radius:0!important;
	padding:0 0 12px !important;
}
.owen1 {
	text-align:right;
	width:290px;
	float:right;
}
.owen1 img {
	border-radius:0!important;
	padding:0 0px 12px 6px !important;
	/*margin-right:-10px !important;*/
}
.price_pan .slides {
	padding-top:35px !important;
}
.other-work-top-about {
	font-size:25px;
	position:absolute;
	bottom:-12px;
	right:35px;
}
.other-work-top {
	font-size:25px;
	position:absolute;
	bottom:-8px;
	right:35px;
}
.corporate-wrk {
	bottom:55px;
}

/*--------------resp menu---------------------*/

/*@media (max-width: 320px) {
 .images_pan li {
width:100%;
text-align:center;
}
 .logo_iphone {
left:25% !important;
}
#thumb_7{margin-left:0px !important;}
#thumb_6{ float:left; width:250px !important;}
}

@media screen and (min-width: 580px) and (max-width: 900px) {
.swipe-wrap p{
font-size: 15px !important;
line-height: 16px !important;
margin-bottom:6px !important;
}
.about_pan{
padding:0 0 7px !important;
}
}

 @media screen and (min-width: 320px) and (max-width: 580px) {

.swipe-wrap p{
font-size: 15px !important;
line-height: 16px !important;
margin-bottom:6px !important;
}

 .owen1{
float:right !important;
}

.charis_swipe,.owen_swipe{
width:100% !important;
}

.about_pan{
margin:0 6px 230px !important;
}
  .swipe-wrap b div{
  float:none !important;
}
.social {
    margin: 0 auto !important;
    width: 98px !important;
}

 }
*/
 @media screen and (min-width: 320px) and (max-width: 767px) {/*
.swipe-wrap .owen img{
width:120px;
}
.swipe-wrap .owen1 img{
width:120px;
}




 .images_pan {
margin: 0;
padding: 24px 7px;
}
 .about_pan_right {
margin-bottom:30px;
}
 .logo_inner {
left:20%;
background:none;
padding: 11px 0 50px;
font-size:34px;
}
 .other_work_inner h4 {
font-size:75px;
}
.about_pan_right a p {
 color: #FFFFFF !important;
 font-family: 'haymakerregular';
 font-size: 29px;
 margin-top: 36px;
}
.prs_blg img {
margin:0 auto !important;
}
.faq_pan_left li {
padding:11px 17px;
}
.portrait {
margin:0 auto;
}
.corporate {
margin:0 auto;
}
.other_work {
padding:100px 0px 7px !important;
}
.contact {
margin-left:0px !important;
}
nav {
display:block;
}
nav ul {
 display: none;
height: auto;
}
 nav a#pull {
 display: block;
background:#000;
font-size: 39px;
color:#FFF;
padding: 8px 9px;
width: 100%;
position: relative;
}
 nav a#pull:after {
 content:"";
background:url(../images/nav-icon.png) no-repeat;
width: 30px;
height: 30px;
display: inline-block;
position: absolute;
right: 15px;
top: 10px;
}
 nav ul {
margin-bottom:0px;
}
 nav ul li a {
font-size:30px;
padding:10px 0px 10px 10px;
display:block;
font-family:'blanchcaps_inline';
}
 .nav_border {
height:71px;
}
 .ip_left_arrow {
position:absolute;
width:45px;
height:83px;
left:0px;
top:41.8%;
}
 .ip_right_arrow {
position:absolute;
width:45px;
height:83px;
right:0px;
top:41.8%;
}
 header {
display:none !important;
}
 .banner {
display:none;
}
 .banner_iphone {
display:block;
margin-bottom:24px;
position:relative;
}
 .logo_iphone {
position:absolute;
left:45%;
top:15px;
display:block;
z-index:99999;
}
 .logo {
display:none;
}
 .banner_iphone h2 {
}
 .faq_pan {
padding:30px 0px 7px !important;
}
 .faq_pan_left ul {
text-align:center;
}
 .faq_pan_right ul {
text-align:center;
float:none;
}
 .faq_pan_left li a {
font-size:26px;
color:#000;
font-family:'blanchcaps_inline';
}
 .faq_pan_right li a {
font-size:26px;
color:#000;
font-family:'blanchcaps_inline';
}
 .images_pan li {
margin-bottom:10px;
width:100%;
text-align:center;
margin-left:0px;
}
 .faq_pan .left_arrow {
display:none;
}
 .faq_pan .right_arrow {
display:none;
}
 .other_work_inner ul li {
padding-bottom:9px;
}
 .foter_left, .foter_right {
width:100%;
border:0px;
padding-left:0px;
}



#toTop a {font-family:'blanchcaps_inline';}

 footer h2 {
font-size:35px;
}
 .foter_right ul li a, .follw li a, .foter_left p {
font-size:30px;
}
.follw ul{
    margin-top: 0;
}
.follw li{
    display: list-item;
    margin: 5px 0;
    padding: 20px 0 0;
}
 .follw li a {
padding: 2px 0 8px 45px;
}
.in-foter_right p{text-align: center;}
	
	.ngg-galleryoverview {
width:250px !important;
margin:0px auto;
float:none !important;
}
 .responsive-slider.flexslider .flex-direction-nav .prev {
background:url("../images/mob-left_arrow.png") no-repeat scroll 0 0 transparent !important;
width:40px !important;
height:40px !important;
}
 .responsive-slider.flexslider .flex-direction-nav .next {
background:url("../images/mob-right_arrow.png") no-repeat scroll 0 0 transparent !important;
width:40px !important;
height:40px !important;
}
 .flex-direction-nav li .prev {
left:15px !important;
}
 .responsive-slider.flexslider .flex-direction-nav li .next {
right: 5px !important;
top: 115px !important;
}
 #price1 .flex-direction-nav li .next {
right:-133px !important;
}
 .images_pan li {
width:250px;
margin-right:15px;
}
 .celltitle h1 {
margin:0px 15px;
}
 .images_pan {
padding:0 7px;
}
 #faqs .slide h1 {
margin:0px !important;
}
 #faqs p {
margin:0 20px 0px 2px !important;
}
 .faq_pan {
padding:0 5px 7px !important;
}
 #faqs .flex-direction-nav li .prev {
left: -78px !important;
top: 56px !important;
}
 #faqs .flex-direction-nav li .next {
top:35px !important;
right: -19px !important;
}
 .celltitle {
width:100% !important;
position:relative;
z-index:99;
margin-top:0px !important;
padding-bottom:15px;
}
 .abt-title h1 {
border:0px !important;
}
 #how_we .responsive-slider.flexslider .flex-direction-nav li .next {
right:-17px !important;
}
 .how_we_work {
padding:0 5px;
}
 #how_we .slide a h1 {
margin-left:10px !important;
}
 #how_we p {
margin:0px 20px 0px 10px !important;
}
 #how_we .flex-direction-nav li .prev {
left: -70px !important;
top: 50px !important;
}
 #how_we .responsive-slider.flexslider .flex-direction-nav li .next {
right:-45px !important;
top: 50px !important;
}
 .howwe_text {
width:60%;
}
 .price_pan {
padding:0 5px 7px !important;
}
 .pricetext {
width:70%;
}
 #price1 .slide h1 {
margin-left:40px !important;
}
 #price1 p {
margin-left:40px !important;
}
 #price1 .flex-direction-nav li .next {
right:-90px !important;
top:85px !important;
}
 #price1 .flex-direction-nav li .prev {
top:85px !important;
left:1px !important;
}
 .price_pan .slides {
padding-top:0px !important;
}
 .other-work-top {
display:none;
}
 .amigostext {
margin-top:0px;
}

 #amigo p {
margin:0px 40px 0px 40px !important;
}
 #amigo .slide h1 {
margin:0px 40px 0px 40px !important;
}
 .other_work {
padding:0px 0 7px !important;
}
 .other_work .right_arrow {
display:none;
}
 .other_work .left_arrow {
display:none;
}
 #otherwork {
padding-bottom:0px;
}
 .imagetitle h1 {
font-size:30px;
margin:0px;
}
 .social {
margin:0 auto !important;
width:80px;
}
 #amigo .responsive-slider.flexslider .flex-direction-nav li .next {
right:-35px !important;
}
 #amigo .flex-direction-nav li .prev {
left:-30px !important;
}
 .other_work .ft-left-arrow {
width:40px;
display:block;
margin-left:20px;
}
 .other_work .ft-right-arrow {
bottom:6px;
top: auto;
right:40px;
width:40px;
display:block;
position:absolute;
}
 .contact_form {
padding:8px 30px 10px !important;
}
 .ngg-gallery-thumbnail img {
margin:4px 0 !important;
}
 .images_pan ul {
margin:0px auto;
width:250px;
}
 .about_pan {
margin:0px 5px;
}
 .prs_blg {
padding:0px 5px;
}
 #other-work .ngg-galleryoverview-new {
width:250px !important;
}
 .imagetitle {
margin:0px auto;
float:none;
}
.bottom-slide{ width:250px; margin:0px auto;}
.inprs_blg{ display:none;}
*/}
#thumb_9{ float:left; width:250px; margin-right:8px;margin-left:8px;}
#thumb_6{ float:left; width:250px;}
#thumb_7{ float:left; width:250px; margin-right:15px;margin-left:9px;}
.in-corporate{ color: #000000;  font-family: 'blanchcaps_inline';  font-size: 45px;  padding-top:8px; text-align: center;}
.in-logo{ top:55px;}
#popup_box{ left:0px !important; width:93% !important; z-index:99999999; height:auto !important; position:absolute !important;}


/*@media screen and (min-width: 481px) and (max-width: 567px) {
	  .logo_iphone {
left:35% !important;
}

}
@media screen and (min-width: 568px) and (max-width: 767px) {
 .images_pan ul {
margin:0px auto;
width:530px;
}
 
.bottom-slide{ width:530px; margin:0px auto;}
}*/
 /* @media screen and (min-width:768px) and (max-width:1023px) {
.images_pan {
padding:30px 77px 0;
}
#price1 .flex-direction-nav li .next {
right:-280px !important;
}
 .prs_blg img {
margin-left:93px !important;
}
 .ngg-galleryoverview {
width:100% !important;
}
 #faqs .flex-direction-nav li .prev {
left:-160px !important;
}
 #how_we .flex-direction-nav li .prev {
left:-160px !important;
}
 .ft-email {
line-height:35px;
}
 .foter_right p span {
font-size:15px;
}
.in-footer{padding: 10px 13px 5px;}
.follw{
    margin-top: 6px;
}
.follw li{
    padding: 20px 0 0;
}
.follw li a{
    padding: 6px 0 9px 42px;
}
#toTop{bottom: 33px !important; 
}



 .ngg-gallery-thumbnail img {
margin:4px 0 !important;
}
 #popup_box {
left:50px !important;
width:88% !important;
height:100% !important;
}
 .about_pan_left {
padding:0px;
}
 .about_pan_left img {
-webkit-border-radius: 300px;
-moz-border-radius: 300px;
-0-border-radius: 300px;
border-radius: 300px;
}
.bottom-slide{ width:600px; margin:0px auto;}
}
#thumb_9{ float:left; width:250px; margin-right:15px;margin-left:9px;}
#thumb_6{ float:left; width:261px;margin-left:-8px;}
#thumb_7{ float:left; width:250px; margin-right:15px;margin-left:-2px;}
.portrait{ width:250px; margin:0px auto;}
.corporate{ width:250px; margin:0px auto;}
#amigo .responsive-slider.flexslider .flex-direction-nav li .next{ top:115px !important;}
#popup_box img{ -webkit-border-radius: 300px; -moz-border-radius: 300px; -0-border-radius: 300px; border-radius: 300px;}
	}*/

/* @media screen and (min-width: 1024px) and (max-width: 1056px) {
	 #thumb_7{ margin-left:12px;}
}*/

.inprs_blg img {
    margin-left: 0 !important;
}
.corporate-inner{
color: #000000;font-size: 70px;padding-top: 138px;text-align: center;font-family:'blanchcaps_inline';
}
.corpo h1{font-family:'blanchcaps_inline'!important;font-size:50px!important;}
.common-list{ margin-left: 120px;}
.common-list li{ background: url("../images/dots.jpg") no-repeat scroll 0 2px transparent;
    display: block;
    font-size: 28px;
    list-style: none outside none !important;
    padding: 8px 0 8px 33px !important;}
.green-dot {
    background: url("../images/dots.jpg") no-repeat scroll 0 2px transparent !important;
}
 .orange-dot {
    background: url("../images/dots.jpg") no-repeat scroll 0 -45px transparent !important;
}
.brown-dot{
    background: url("../images/dots.jpg") no-repeat scroll 0 -92px transparent !important;
}
/*-------------------------------------------------------*/
/* Swipe CSS */
.swipe-wrap b div{
float:left;
}
#mySwipe div b{
  display:block;
  font-weight:bold;
  color:#14ADE5;
  font-size:20px;
  text-align:center; 
  box-shadow: 0 1px #EBEBEB;
  background: #fff;
  /*border-radius: 3px;
  border: 1px solid;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6;*/
}
.swipe-wrap p {
     font-size: 21px;
    line-height: 20px;
    padding-left: 24px;
    padding-right: 20px;
    padding-top: 0;
    text-align: left;
	color:#333333;
	font-family:Helvetica,arial;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative; 
}

/*---Rik's amends---*/
.slide-title {display:none;}


/*Slider navigation */
#slides,
    #slides2,
    #slides3 {
      display: none;
      margin-bottom:50px;
    }

    .slidesjs-navigation {
      margin-top:3px;
    }

    .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-next {
      margin-right: 44px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: left;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }
    .slidesjs-previous{
	background: url("../images/left_arrow.png") no-repeat scroll 0 0 transparent !important;
    height: 85px !important;
    opacity: 1;
    text-align: left;
    text-indent: -9999em;
     top: 36% !important;
    transition: all 0.18s ease-out 0s;
    width: 81px !important;
	position:absolute;
	left:47px;
	}
    .slidesjs-next{
	background: url("../images/right_arrow.png") no-repeat scroll 0 0 transparent !important;
    height: 85px !important;
    opacity: 1;
    text-align: left;
    text-indent: -9999em;
    top: 40% !important;
    transition: all 0.18s ease-out 0s;
    width: 81px !important;
	position:absolute;
	right:0;z-index: 9999;
	}
	.pricetext .slidesjs-next{
	background: url("../images/right_arrow.png") no-repeat scroll 0 0 transparent !important;
    height: 85px !important;
    opacity: 1;
    text-align: left;
    text-indent: -9999em;
    top: 37% !important;
    transition: all 0.18s ease-out 0s;
    width: 81px !important;
	position:absolute;
	right:0px;

	}
	.pricetext .slidesjs-previous{
    background: url("../images/left_arrow.png") no-repeat scroll 0 0 transparent !important;
    height: 85px !important;    
    opacity: 1;
    position: absolute;
    text-align: left;
    text-indent: -9999em;
    top: 37% !important;
    transition: all 0.18s ease-out 0s;
    width: 81px !important;
	left:-1;z-index: 9999;
	}
.faqtext-portrait .slidesjs-previous{top: 242% !important;}
.faqtext-portrait .slidesjs-next{top: 242% !important;}
    .slidesjs-control .slide{
       height:100% !important;
	}
	#slides2{
       width:75%;
	}

	.slidesjs-pagination{
      display:none;
	}

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }
	
	.slidesjs-slide{
      height:340px !important;
	}

    .navbar {
      overflow: hidden
    }

    #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
  /*  @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
   /* @media (max-width: 480px) {
      .container {
        width: auto
      }
    }*/

    /* For smaller displays like laptops */
   /* @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }*/

    /* For larger displays */
   /* @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }*/


	/*slider functionality  Home page */

/*	.ocarousel {
    display: none;
}*/
    .ocarousel_window {
        overflow: hidden;
       /* white-space: nowrap;*/
        /* default size */
        width: 100%;
        height: 100%;
    }
        .ocarousel_window_slides {
            position: relative;
            margin: 0 auto;
            overflow: hidden;
            width: 50000px;
            white-space: nowrap;
        }
        .ocarousel_window_slides>* {
            float: left;
            white-space: normal;
        }
.ocarousel_indicators {
    width: 100%;
}
.ocarousel_indicators svg {
    height: 50px;
    margin: 0 auto;
    width: 100%;
}
.ocarousel_indicators svg circle {
    cursor: pointer;
}

.ocarousel_window_slides div {
            text-align: center;
            height: 100%;
            margin-right: 4px;
            padding: 8px;
        }
        .ocarousel_window_slides div h3 {
            float: none;
        }
        .ocarousel_window_slides div p {
            text-align: left;
        }
        a[data-ocarousel-link] {
            color: #000000;
        }

.ocarousel .slidesjs-previous,.ocarousel .slidesjs-next{
top:40% !important;
z-index:999;
}


.faq_new .slidesjs-previous{
top:34% !important;
}

.faq_new .slidesjs-next{
top:34% !important;
}



.corp-faq .faqtext{
width:70% !important;
}
.corp-faq .priceimage{
margin:0 !important;
}
.corp-faq p{
margin-left:16% !important;
margin-right:0 !important;
}
.client_name {
    font-family: helvetica,arial;
	margin-left:45%;
	font-weight:bold;
}

.image_corp .ocarousel_window_slides div{
padding:4px !important;
}

.price-corp{
width:70% !important;
}
.corp-faq .slide{
margin-left:11%;
}

.comment-content > p{
font-size: 12px;
}

.comment-meta span {
    font-size: 12px;
}
#comments h2 {
    font-size: 21px;
}

.tagcloud a {
    font-size: 14px !important;
    line-height: 26px;
    padding: 11px;
	font-family: Helvetica,Arial;
	color:#002454;
}
