body{
	margin:0;
	padding:0;
}
#Choco_overlay{
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	display:none;
	padding:0;
	margin:0;
}
#Choco_content{
	display:none;
	width:800px;
	height:600px;
	z-index:1001;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-400px;
	margin-top:-300px;
	border-top:1px solid transparent;/*Yes, adjust image perfectly at the center of a box, don't know why.*/
}
#Choco_left_arrow{
	float:left;
	background-image:url(../images/gauche.gif);
	background-position:12%;
	/*left:-14%;*/
	left:-1%;
}
#Choco_right_arrow{
	float:right;
	background-image:url(../images/droite.gif);
	background-position:88%;
	/*left:14%;*/
	left:2%;
	
}
.Choco_arrows{
	background-repeat:no-repeat;
	display:none;
	position:relative;
	cursor:pointer;
	width:49%;
	top:-100%;
	height:100%;
	margin-top:-30px;
}
#Choco_container_photo{
	text-align:center;
	width:800px;
	height:600px;
	/*background:url(../images/ajax-loader.gif) center center no-repeat;*/
}
#Choco_container_description{
	padding:0;
	height:26px;
	width:100%;
	color:#505050;
	font-family:Tahoma;
	clear:both;
	position:relative;
	font-size:12px;
	margin-top:-5px;
	overflow:hidden;
	visibility:hidden;
}
#Choco_container_title{
	float:left;
	padding:5px;
}
#Choco_container_via{
	padding:5px;
	float:right;
}
#Choco_container_via a{
	color:gray;
}
#Choco_container_via a:hover{
	color:white;
	background:gray;
}
#Choco_close{
	width:34px;
	height:34px;
	background-image:url(../images/close.gif);
	background-repeat:no-repeat;
	z-index:1002;
	cursor:pointer;
	
	display:none;
	position: absolute;
    right: -10px;
    top: -20px;
}
#Choco_loading{
	background-image:url(../images/chargement2.gif);
	background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    height: 21px;
    left: 386px;
    margin-top: 0;
    position: absolute;
    top: 225px;
    width: 20px;
    z-index: 1002;
}
#Choco_bigImage{
	display:none;
	position:relative;
	width:100%;
	height:100%;
	margin-top:-5px;
	border:7px solid #595959;
}
