html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:'blanchcaps';
	vertical-align:baseline;
	margin:0;
	padding:0;
}
table {
	border-collapse:separate;
	border-spacing:0;
	margin-bottom:1.4em;
}
caption, th, td {
	text-align:left;
	font-weight:400;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:"";
}
blockquote, q {
quotes:;
}
a img {
	border:0 none;
}
.clear {
	clear:both;
}
/* 
---------------------------------------------------------------------------------------------------------- 
02 Main Layout
---------------------------------------------------------------------------------------------------------- 
*/
html, body {
	height:100%;
	width:100%
}
body {
	background-color:white;
}
.wrapper {
	display:table;
	width:100%;
	height:100%;
	margin:auto;
}
.cell {
	display:table-cell;
	width:100%;
	vertical-align:middle;
	position:relative;
}
.page {
	max-width:600px;
	width:92%;
	margin-left:auto;
	margin-right:auto;
	position:relative
}
.page-project {
	max-width:100%;
	width:92%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	text-align: center
}
img {
	width: auto;
	max-width: 100%;
	height: auto;
}
body {
	/*background:#152f42 url(../images/body_bg.jpg) repeat-x;*/
	font-family:'blanchcaps';
	font-size:14px;
	padding:0;
}
.wrapp {
	background:#FFF;
	width:959px;
	max-width:100%;
	min-width:480px;
	margin:0 auto;
	position:relative;
}
header { /*min-height:80px; position:fixed;*/
	z-index:9999;
	display:block;
	width:959px;
	max-width:100%;
	min-width:480px;
	margin:0 auto;
	background:#fff;
}
.logo_iphone {
	display:none;
}
.logo {
	position:absolute;
	left:40%;
	top:5px;
	display:block;
	z-index:9999;
}
.logo_inner {
	position:absolute;
	top:5px;
	display:block;
	z-index:9999;
	height:100px !important;
	font-size: 65px;
	font-family:'blanchcaps_inline';
	width:195px;
	padding:30px 0px 50px 0px;
	text-align:center;
}
.logo_inner span {
	font-size:54px;
	font-family:'blanchcaps_inline';
}
.nav_left {
	margin-top:10px;
}
.nav_left ul {
	padding:0px;
	margin:0px;
	margin-top:5px;
	float:left;
}
.nav_left li {
	list-style-type:none;
	display:inline;
	margin-right:10px;
}
.nav_left p a {
	font-size:42.19px;
	color:#000;
	font-family:'blanchcaps_inline';
}
.nav_left li a {
	font-size:42.19px;
	color:#000;
	font-family:'blanchcaps_inline';
}
.nav_right {
	padding-right:5px !important;
	text-align:right;
	margin-top:10px;
}
.nav_right ul {
	padding:0px;
	margin:0px;
	margin-top:5px;
	float:right;
}
.nav_right li {
	list-style-type:none;
	display:inline;
	margin-left:10px;
	position:relative;
}
.nav_right p a {
	font-size:42.19px;
	color:#000;
	font-family:'blanchcaps_inline';
}
.nav_right li a {
	font-size:42.19px;
	color:#000;
	font-family:'blanchcaps_inline';
}
nav_right li:hover a {
	color:#000;
}
.nav_right li:hover ul {
	display:block !important;
}
.nav_right li ul {
	display: none;
	left: 0;
	position: absolute;
	top: 5px;
	z-index: 99999;
	padding: 15px 3px 10px 0;
	background: none repeat scroll 0 0 #fff;
	width: 131px;
}
.nav_right li .sub-menu li {
	width:20%;
}
.nav_right li .sub-menu li a {
	font-size: 30px;
	line-height: 26px;
}
.sub-menu {
	width: 145px;
}
.banner {
	position:relative;
	padding:0px;
	margin:0px;
	margin-top:80px;
	margin-bottom:24px;
	display:block;
}
.banner_iphone {
	display:none;
}
.left_arrow {
	position:absolute;
	width:81px;
	height:83px;
	float:left;
	left:0px;
	top:38.5%;
	z-index:99;
}
.right_arrow {
	position:absolute;
	width:81px;
	height:83px;
	float:left;
	right:0px;
	top:38.5%;
	z-index:99;
}
.nav_border {
	height:40px;
	border-left:0px;
	border-right:0px;
	position:relative;
}
.images_pan {
	padding:20px 77px 0px;
	margin:0px;
	position:relative;
}
.images_pan ul {
	padding:0px;
	margin:0px;
}
.images_pan li {
	list-style-type:none;
	display:inline;
	float:left;
	margin-left:28px;
	margin-bottom:33px;
}
#how_we .flex-direction-nav li .prev {
	left:-215px!important;
	top:125px !important;
}
#price1 .flex-direction-nav li .next {
	right:-355px!important;
	top:155px !important;
}
#faqs .flex-direction-nav li .prev {
	left:-215px!important;
}
#faqs .flex-direction-nav li .next {
	right:-43px!important;
	margin-top:2px;
}
#amigo .responsive-slider.flexslider .flex-direction-nav li .next {
	right: 0px !important;
}
.faq_pan {
	padding:35px 35px 25px !important;
	margin:0px;
	overflow:hidden; /*background:url(../images/faq_bg.png) no-repeat bottom;*/
	position:relative;
	height:380px;
}
.faq_pan_left {
	width:62%!important;
	margin-top:35px;
}
.faq_pan_left ul {
	padding:0px;
	margin:0px;
}
.faq_pan_left li {
	list-style-type:none;
	padding:0px 0px;
	float:left;
	width:90%;
}
.faq_pan_left li a {
	font-size:39.38px;
	color:#000;
	font-family:'blanchcaps_inline';
}
.faq_pan_right {
}
.faq_pan_right ul {
	padding:0px;
	margin:0px;
	float:right;
}
.faq_pan_right li {
	list-style-type:none;
	padding:35px 0px;
}
.faq_pan_right li a {
	font-size:39.38px;
	color:#000;
	font-family:'blanchcaps_inline';
}
.about_pan {
	position:relative;
	/*overflow:hidden;*/
	padding:35px 0px 7px !important;
	border-top:1px solid #ccc;
	margin:0px 35px;
	height:380px;
}
.about_pan_left {
	background:#FFF;
	text-align:center;
	padding:0px !important;
}
.about_pan_left img {
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
-0-border-radius: 250px;
	border-radius: 250px;
	vertical-align:middle;
	height:auto;
	padding:0 16px 12px 6px !important;
}
.about_pan_right {
	background:#bee3f6;
	text-align:center;
	width:480px;
	height:auto;
	position:relative !important;
	padding:0 16px 12px 6px !important;
}
.about_pan_right a p {
	font-size:45px;
	color:#fff !important;
	margin-top:178px;
	font-family: 'haymakerregular';
}
.bg_color {
	background:#f39ba6 !important;
}
.tooltip1 span {
	display: none;
	margin-left: 0;
	position: absolute;
}
.tooltip1 span:hover {
	color:#FFF;
	display:block;
	top:0px;
	left:0px;
	z-index:999;
	background:#000;
	position:absolute;
	width:200px;
}
.prs_blg {
	text-align:center;
	position:relative;
	margin-bottom:24px;
	padding-top:34px;
}
.how_we_work { /*margin-top:167px;min-height:570px;*/
	position:relative;
	min-height:315px;
	padding:35px 35px 0px;
	height:380px;
}
.price_pan {
	height:380px;
	position:relative;
	padding:0px 35px 7px !important;
}
.amigos {
	height:380px;
	position:relative;
	padding:0px 35px 7px !important;
}
.other_work {
	min-height:744px;
	position:relative;
	padding:0px 35px 7px !important
}
.other_work_inner {
	text-align:center;
}
.other_work_inner h4 {
	font-size:107px;
	font-family:'blanchcaps_inline';
	font-weight:normal;
	color:#000;
}
.other_work_inner ul li {
	list-style:none;
	padding-bottom:30px;
}
nav {
	display:none
}
.logo_inner_long {
	width: 432px;
	left: 28%;
	background: url("../images/logo_bg.png") no-repeat scroll center 0 transparent;
}
.how_it_work {
	background: url("../images/logo_bg.png") no-repeat scroll center 0 transparent;
	left: 39%;
	width: 232px;
	font-family:'blanchcaps_inline' !important;
}
.other_work .left_arrow {
	bottom:-5%;
	top: auto;
	left:35px;
	font-size: 50px;
	width:250px;
	line-height:84px;
}
.left_arrow a {
	font-family:'blanchcaps_inline';
	color:#d3ecf9;
}
.other_work .left_arrow img {
	float:left;
}
.other_work .right_arrow {
	bottom:-5%;
	top: auto;
	right:35px;
	font-size: 50px;
	width:210px;
	font-family:'blanchcaps_inline' !important;
	line-height:84px;
}
.other_work .right_arrow img {
	float:right;
}
.portrait .ngg-gallery-thumbnail img {
	border:none !important;
}
.portrait .ngg-gallery-thumbnail {
	margin-right:1px !important;
}
.corporate .ngg-gallery-thumbnail img {
	border:none !important;
}
.corporate .ngg-gallery-thumbnail {
	margin-right:1px !important;
}
.contact_form {
	min-height:160px;
	position:relative;
	padding:58px 48px 62px !important;
}
.celltitle h1 {
	color: #000000;
	font-family: 'blanchcaps_inline';
	font-size: 42.19px;
	text-align:center;
	font-weight:normal;
	margin:0px 35px;
	border-bottom:1px solid #CCCCCC;
}
.other_work_inner > p {
	font-size: 30px;
	line-height: 28px;
	text-align: left;
}
.other_work_inner a {
	color:#AEE1F4;
}
#contact > p {
	font-size:27px;
}
#contact p a {
	color: #A0B9CD;
}
.right_arrow a {
	font-family:'blanchcaps_inline';
	color:#f39ba6;
}
.img_home {
	margin-top:0px;
}
.contact input {
	width: 50% !important;
}
.contact textarea {
	width: 50% !important;
}
.prs_blg img {
	margin-left:200px !important;
}
#amigo p {
	margin-left:121px !important;
	margin-right:121px !important;
	min-height:200px;
	font-size: 24px;
	font-weight: normal;
	line-height: 20px;
	font-family:'blanchcaps';
}
#amigo .slide a h1 {
	margin-left:121px !important;
	margin-right:121px !important;
	color: #000000;
	font-family: 'blanchcaps';
	font-size: 31.19px;
	font-weight:normal;
}
#faqs .slide a h1 {
	margin-left:50px !important;
	margin-right:92px !important;
	color: #000000;
	font-family: 'blanchcaps';
	font-size: 31.19px;
	font-weight:normal;
}
#faqs p {
	margin-left:50px !important;
	margin-right:92px !important;
	min-height:200px;
	font-size: 24px;
	font-weight: normal;
	line-height: 20px;
	font-family: 'blanchcaps';
}
#how_we p {
	margin-left:50px !important;
	margin-right:80px !important;
	font-size: 24px;
	font-weight: normal;
	line-height: 20px;
	font-family: 'blanchcaps';
}
#how_we .slide a h1 {
	margin-left:50px !important;
	color: #000000;
	font-family: 'blanchcaps';
	font-size: 31.19px;
	font-weight:normal;
}
#price1 p {
	margin-left:130px !important;
	font-size: 24px;
	font-weight: normal;
	line-height: 20px;
	font-family:'blanchcaps';
}
#price1 .slide a h1 {
	margin-left:130px !important;
	color: #000000;
	font-family: 'blanchcaps';
	font-size: 31.19px;
	font-weight:normal;
}
#submitted {
	background: none repeat scroll 0 0 #EB956E;
	border: medium none;
	border-radius: 5px 5px 5px 5px;
	padding: 6px;
	width: 9% !important;
}
.imagetitle {
	float:none;
}
#contact{ padding-top:20px;}
.ngg-galleryoverview{ width:102% !important;}
.blg-top{ bottom:-30px;}
.inprs_blg{ padding-top:0px;}
/*-----footer--------*/
footer {
	background:#000;
	color:#fff;
	padding:25px;
}
.in-footer {
	background:#eeeeee;
	color:#000;
	padding:25px;
}
.foter_left {
	float:left;
	width:50%;
}
.foter_left p {
	font-size:25px;
	color:#a3ddfb;
	padding:15px 0px 0px 0px;
	margin-bottom:0px;
}
.foter_left p a {
	color:#fff;
	text-decoration:underline;
}
.foter_left p span {
	color:#fff;
}
.foter_right {
	float:right;
	width:50%;
	border-left:1px solid #fff;
	padding-left:40px;
}
footer h2 {
	font-size:40px;
	color:#f698a1;
	font-weight:normal;
	line-height:60px;
	padding:0px;
	margin:0px;
}
.in-footer h2{
	color:#000;
}
.in-foter_left p{
	color:#000;
}
.in-foter_left p a{
	color:#f395a3;
}
.in-foter_left p span{ color:#f395a3;}
.foter_right ul {
	float:left;
	width:40%;
}
.foter_right ul li {
	list-style:none;
}
.foter_right ul li a {
	font-size:25px;
	line-height:25px;
	color:#fff;
}
.in-foter_right{ border-left:1px solid #cccccc;}
.in-foter_right p{ text-align:right;}
.in-foter_right ul li a {
	color:#f395a3;
}
.foter_right p {
	font-size:24px;
	padding-top:20px;
}
#menu-footer_right {
	width:60%;
}
.follw {
	width:65%;
}
.follw p {
	float:left;
	font-size:25px;
	padding-right:20px;
}
.follw ul {
	float:right;
	margin-bottom:0px
}
.follw li {
	list-style:none;
	padding:20px 0px;
}
.follw li a {
	font-size:25px;
	color:#FFF;
	background:url(../images/fb_icon.png) no-repeat;
	padding:10px 0 9px 50px;
}
.inner-follow{}
.inner-follow li a{ color:#f395a3; background:url(../images/in-fb_icon.png) no-repeat;}
.tw_icn {
	background-position:0px -42px !important;
}
.in-tw_icn {
	background-position:0px -42px !important;
}
.foter_right p span {
	/*font-size:15px;*/
}
.abt-title h1 {
	border:0px !important;
}
.other_work .ft-left-arrow {
	display:none;
}
.other_work .ft-right-arrow {
	display:none;
}
/*----------------------------mob-------------------*/
.contact p {
}
.portrait {
	margin-left:78px;
}
.corporate {
	margin-left:78px;
}
.ngg-gallery-thumbnail-box {
	padding-bottom:0px;
}
.toolti3 > span {
	font-size: 21px;
	padding-top: 18px;
	vertical-align: middle;
}
#desc .six {
	font-size: 18px;
	line-height: 22px;
	padding-top: 14px;
	vertical-align: middle;
}
.slideshowlink {
	display:none;
}
#price1 .flex-direction-nav li .prev {
	left:1px !important;
	top:155px !important;
}
#other-work .ngg-galleryoverview-new {
	width: 102% !important;
}
.thumbimage li {
	border: 1px solid #ccc;
	margin: 4px 0 4px 13px;
	padding: 4px 4px 0;
}
#top a {
	float:right;
	font-size:25px;
}
#top1 a {
	float:right;
	font-size:25px;
	margin-top:10px;
}
.faqimage {
	width:25%;/*margin-left:20px;*/
	float:left;
}
.faqtext {
	float:left;
	width:70%;
}
.howwe_image {
	width:25%;/*margin-left:20px;*/
	float:left;
}
.howwe_text {
	float:left;
	width:70%;
}
.pricetext {
	float:left;
	width:60%;
}
.priceimage {
	width:25%;
	margin-top:36px;
	float:right;/*margin-left:36px;*/
}
.amigostext {
	margin-top:30px;
}
.imagetitle h1 {
	color: #000000;
	font-family: 'blanchcaps_inline';
	font-size: 66.19px;
	font-weight:normal;
	text-align:center;
}
.laugh {
	color:#cbe7f5;
}
.laugh1 {
	color:#cc2e3b;
}
.owen {
	text-align:left;
	width:245px;
}
.owen img {
	border-radius:0!important;
	padding:0 0 12px !important;
}
.owen1 {
	text-align:right;
	width:245px;
	float:right;
}
.owen1 img {
	border-radius:0!important;
	padding:0 0px 12px 6px !important;
	margin-right:-10px !important;
}
.price_pan .slides {
	padding-top:35px !important;
}
.other-work-top-about {
	font-size:25px;
	position:absolute;
	bottom:-12px;
	right:35px;
}
.other-work-top {
	font-size:25px;
	position:absolute;
	bottom:-8px;
	right:35px;
}
.corporate-wrk {
	bottom:55px;
}

/*--------------resp menu---------------------*/

@media (max-width: 320px) {
 .images_pan li {
width:100%;
text-align:center;
}
 .logo_iphone {
left:25% !important;
}
#thumb_7{margin-left:0px !important;}
#thumb_6{ float:left; width:250px !important;}
}
 @media screen and (min-width: 320px) and (max-width: 767px) {
 .images_pan {
margin: 0;
padding: 24px 7px;
}
 .about_pan_right {
margin-bottom:30px;
}
 .logo_inner {
left:20%;
background:none;
padding: 11px 0 50px;
font-size:34px;
}
 .other_work_inner h4 {
font-size:75px;
}
.about_pan_right a p {
 color: #FFFFFF !important;
 font-family: 'haymakerregular';
 font-size: 29px;
 margin-top: 36px;
}
.prs_blg img {
margin:0 auto !important;
}
.faq_pan_left li {
padding:11px 17px;
}
.portrait {
margin:0 auto;
}
.corporate {
margin:0 auto;
}
.other_work {
padding:100px 0px 7px !important;
}
.contact {
margin-left:0px !important;
}
nav {
display:block;
}
nav ul {
 display: none;
height: auto;
}
 nav a#pull {
 display: block;
background:#000;
font-size: 39px;
color:#FFF;
padding: 8px 9px;
width: 100%;
position: relative;
}
 nav a#pull:after {
 content:"";
background:url(../images/nav-icon.png) no-repeat;
width: 30px;
height: 30px;
display: inline-block;
position: absolute;
right: 15px;
top: 10px;
}
 nav ul {
margin-bottom:0px;
}
 nav ul li a {
font-size:30px;
padding:10px 0px 10px 10px;
display:block;
font-family:'blanchcaps_inline';
}
 .nav_border {
height:71px;
}
 .ip_left_arrow {
position:absolute;
width:45px;
height:83px;
left:0px;
top:41.8%;
}
 .ip_right_arrow {
position:absolute;
width:45px;
height:83px;
right:0px;
top:41.8%;
}
 header {
display:none !important;
}
 .banner {
display:none;
}
 .banner_iphone {
display:block;
margin-bottom:24px;
position:relative;
}
 .logo_iphone {
position:absolute;
left:45%;
top:15px;
display:block;
z-index:99999;
}
 .logo {
display:none;
}
 .banner_iphone h2 {
}
 .faq_pan {
padding:30px 0px 7px !important;
}
 .faq_pan_left ul {
text-align:center;
}
 .faq_pan_right ul {
text-align:center;
float:none;
}
 .faq_pan_left li a {
font-size:26px;
color:#000;
font-family:'blanchcaps_inline';
}
 .faq_pan_right li a {
font-size:26px;
color:#000;
font-family:'blanchcaps_inline';
}
 .images_pan li {
margin-bottom:10px;
width:100%;
text-align:center;
margin-left:0px;
}
 .faq_pan .left_arrow {
display:none;
}
 .faq_pan .right_arrow {
display:none;
}
 .other_work_inner ul li {
padding-bottom:9px;
}
 .foter_left, .foter_right {
width:100%;
border:0px;
padding-left:0px;
}
 footer h2 {
font-size:35px;
}
 .foter_right ul li a, .follw li a, .foter_left p {
font-size:30px;
}
 .follw li a {
padding: 8px 0 8px 50px;
}
	/****Srinivas****/
	.ngg-galleryoverview {
width:250px !important;
margin:0px auto;
float:none !important;
}
 .responsive-slider.flexslider .flex-direction-nav .prev {
background:url("../images/mob-left_arrow.png") no-repeat scroll 0 0 transparent !important;
width:40px !important;
height:40px !important;
}
 .responsive-slider.flexslider .flex-direction-nav .next {
background:url("../images/mob-right_arrow.png") no-repeat scroll 0 0 transparent !important;
width:40px !important;
height:40px !important;
}
 .flex-direction-nav li .prev {
left:15px !important;
}
 .responsive-slider.flexslider .flex-direction-nav li .next {
right: 5px !important;
top: 115px !important;
}
 #price1 .flex-direction-nav li .next {
right:-133px !important;
}
 .images_pan li {
width:250px;
margin-right:15px;
}
 .celltitle h1 {
margin:0px 15px;
}
 .images_pan {
padding:0 7px;
}
 #faqs .slide a h1 {
margin:0px !important;
}
 #faqs p {
margin:0 27px 0px 2px !important;
}
 .faq_pan {
padding:0 5px 7px !important;
}
 #faqs .flex-direction-nav li .prev {
left: -78px !important;
top: 56px !important;
}
 #faqs .flex-direction-nav li .next {
top:35px !important;
right: -19px !important;
}
 .celltitle {
width:100% !important;
position:relative;
z-index:99;
margin-top:0px !important;
padding-bottom:15px;
}
 .abt-title h1 {
border:0px !important;
}
 #how_we .responsive-slider.flexslider .flex-direction-nav li .next {
right:-17px !important;
}
 .how_we_work {
padding:0 5px;
}
 #how_we .slide a h1 {
margin-left:10px !important;
}
 #how_we p {
margin:0px 20px 0px 10px !important;
}
 #how_we .flex-direction-nav li .prev {
left: -70px !important;
top: 50px !important;
}
 #how_we .responsive-slider.flexslider .flex-direction-nav li .next {
right:-45px !important;
top: 50px !important;
}
 .howwe_text {
width:60%;
}
 .price_pan {
padding:0 5px 7px !important;
}
 .pricetext {
width:70%;
}
 #price1 .slide a h1 {
margin-left:40px !important;
}
 #price1 p {
margin-left:40px !important;
}
 #price1 .flex-direction-nav li .next {
right:-90px !important;
top:85px !important;
}
 #price1 .flex-direction-nav li .prev {
top:85px !important;
left:1px !important;
}
 .price_pan .slides {
padding-top:0px !important;
}
 .other-work-top {
display:none;
}
 .amigostext {
margin-top:0px;
}
 #amigo p {
margin:0px 40px 0px 40px !important;
}
 #amigo .slide a h1 {
margin:0px 40px 0px 40px !important;
}
 .other_work {
padding:0px 0 7px !important;
}
 .other_work .right_arrow {
display:none;
}
 .other_work .left_arrow {
display:none;
}
 #otherwork {
padding-bottom:0px;
}
 .imagetitle h1 {
font-size:30px;
margin:0px;
}
 .social {
margin:0 auto !important;
width:80px;
}
 #amigo .responsive-slider.flexslider .flex-direction-nav li .next {
right:-35px !important;
}
 #amigo .flex-direction-nav li .prev {
left:-30px !important;
}
 .other_work .ft-left-arrow {
width:40px;
display:block;
margin-left:20px;
}
 .other_work .ft-right-arrow {
bottom:6px;
top: auto;
right:40px;
width:40px;
display:block;
position:absolute;
}
 .contact_form {
padding:8px 30px 10px !important;
}
 .ngg-gallery-thumbnail img {
margin:4px 0 !important;
}
 .images_pan ul {
margin:0px auto;
width:250px;
}
 .about_pan {
margin:0px 5px;
}
 .prs_blg {
padding:0px 5px;
}
 #other-work .ngg-galleryoverview-new {
width:250px !important;
}
 .imagetitle {
margin:0px auto;
float:none;
}
.bottom-slide{ width:250px; margin:0px auto;}
.inprs_blg{ display:none;}
}
#thumb_9{ float:left; width:250px; margin-right:15px;}
#thumb_6{ float:left; width:250px;}
#thumb_7{ float:left; width:250px; margin-right:15px;}
.in-corporate{ color: #000000;  font-family: 'blanchcaps_inline';  font-size: 45px;  padding-top:8px; text-align: center;}
.in-logo{ top:55px;}
#popup_box{ left:0px !important; width:93% !important; z-index:99999999; height:auto !important; position:absolute !important;}
@media screen and (min-width: 481px) and (max-width: 567px) {
	  .logo_iphone {
left:35% !important;
}

}
@media screen and (min-width: 568px) and (max-width: 767px) {
 .images_pan ul {
margin:0px auto;
width:530px;
}
 #other-work .ngg-galleryoverview-new {
/*width:530px !important;*/
}
.bottom-slide{ width:530px; margin:0px auto;}
}
 @media screen and (min-width:768px) and (max-width:1023px) {
.images_pan {
padding:30px 77px 0;
}
#price1 .flex-direction-nav li .next {
right:-280px !important;
}
 .prs_blg img {
margin-left:93px !important;
}
 .ngg-galleryoverview {
width:100% !important;
}
 #faqs .flex-direction-nav li .prev {
left:-160px !important;
}
 #how_we .flex-direction-nav li .prev {
left:-160px !important;
}
 .ft-email {
line-height:35px;
}
 .foter_right p span {
font-size:15px;
}
 .ngg-gallery-thumbnail img {
margin:4px 0 !important;
}
 #popup_box {
left:50px !important;
width:88% !important;
height:100% !important;
}
 .about_pan_left {
padding:0px;
}
 .about_pan_left img {
-webkit-border-radius: 300px;
-moz-border-radius: 300px;
-0-border-radius: 300px;
border-radius: 300px;
}
.bottom-slide{ width:600px; margin:0px auto;}
}
#thumb_9{ float:left; width:250px; margin-right:15px;}
#thumb_6{ float:left; width:261px;}
#thumb_7{ float:left; width:250px; margin-right:15px;margin-left:0px;}
.portrait{ width:250px; margin:0px auto;}
.corporate{ width:250px; margin:0px auto;}
#amigo .responsive-slider.flexslider .flex-direction-nav li .next{ top:115px !important;}
/*#popup_box img{ -webkit-border-radius: 300px; -moz-border-radius: 300px; -0-border-radius: 300px; border-radius: 300px;}*/
	}
 @media screen and (min-width: 1024px) and (max-width: 1056px) {
	 #thumb_7{ margin-left:12px;}
}

.inprs_blg img {
    margin-left: 0 !important;
}
.corporate-inner{
color: #000000;font-size: 70px;padding-top: 138px;text-align: center;font-family:'blanchcaps_inline';
}
.corpo h1{font-family:'blanchcaps_inline'!important;font-size:50px!important;}
.common-list{ margin-left: 120px;}
.common-list li{ background: url("../images/dots.jpg") no-repeat scroll 0 2px transparent;
    display: block;
    font-size: 28px;
    list-style: none outside none !important;
    padding: 8px 0 8px 33px !important;}
.green-dot {
    background: url("../images/dots.jpg") no-repeat scroll 0 2px transparent !important;
}
 .orange-dot {
    background: url("../images/dots.jpg") no-repeat scroll 0 -45px transparent !important;
}
.brown-dot{
    background: url("../images/dots.jpg") no-repeat scroll 0 -92px transparent !important;
}
