@import('elements.less');

/*Colors*/


/*Fonts*/

/* mq for changing things at breakpoints - so after the area labelled */
@breakpoint-narrow-plus: ~'(min-width: 768px)';
@breakpoint-normal-plus: ~'(min-width: 980px)';
@breakpoint-wide-plus: ~'(min-width: 1220px)';

@color-pink:	#f596a0;
@color-blue:	#aee0f3;

/*Image Resize*/
.responsive_image {
	width:100%;
	height:auto;
	@media all and @breakpoint-narrow-plus {
		width:	inherit;
	}
}

.nav {
	color: 				#000000;
	font-family: 		'blanchcaps_inline';
	font-size: 			42px;
	text-decoration:	none;
	line-height: 		0.9;
}

/*Buttons*/
