/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body, p 	{
	font-size: 14px;
	line-height: 24px;
	font-family: helvetica, arial, sans-serif;

}

p {
	margin-bottom:12px;

}

h1 {
	color: 			#000000;
	font-family: 	'blanchcaps_inline';
	font-size: 		68px;
	font-weight: 	normal;
	margin: 		0;
	text-align: 	center;
}

h1 span.blue {
	color:			blue;
}

h1 span.pink{
	color:			pink;
}

h2.block-title {
	color: 			#000000;
	font-family: 	'blanchcaps_inline';
	font-size: 		54px;
	font-weight: 	normal;
	margin: 		0;
	text-align: 	center;
	line-height: 	60px;

}

h5 {
	font-family: helvetica, arial, sans-serif;
	line-height: 24px;
	font-size: 16px;
	margin-bottom:24px;
}
	

/*branding*/
.branding-data {
	text-align: center;

}
.logo-img {
	background: url(../logo_bg.png) center top no-repeat;
	margin:0 auto;
	float:none;
	width:200px;
	height:130px;
	z-index: 100;
	position: absolute;

}

.logo-img img {
	width:142px;
	margin:20px 0 0 0;

}

.flexslider .slides img {
	width:auto;
	margin:0 auto;
}


.block-3 {margin-left:100px;}

/*Homepage Panels*/
#block-views-hp-slideshow-block {
margin-top:0;
}

/*Slideshows*/

.flexslider {
	background: 	none;
	border: 		none;
    border-radius: 	none;
    box-shadow: 	none;
    position: 		relative;
}

.flex-direction-nav a:before {display: none;}
.flex-direction-nav a.flex-prev {background: url(../images/left_arrow.png) center center no-repeat; background-size: cover; height:40px; width:40px;}
.flex-direction-nav a.flex-next {background: url(../images/right_arrow.png) center center no-repeat; background-size: cover; height:40px; width:40px;}

.flexslider .flex-direction-nav a,
.flexslider .flex-direction-nav a {
display: block; /* I added this line */
}

/*Footer*/

footer {
	text-align: 	center;
}
