/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/*Mobile Hide Menu*/
.top-menu, .bottom-menu {display: none;}

/*Header */
#section-header li a:link, #section-header li a:visited {
	color: 				#000000;
	font-family: 		'blanchcaps_inline';
	font-size: 			42px;
	text-decoration:	none;
	line-height: 		0.9;
}

#section-header li a:hover {
	color:pink;
}

#section-header ul, #section-header ul ul {
	margin: 0;
}

#section-header ul ul {
	display: none;
}

#section-header li {
	display: inline;
	list-style: none;
	padding: 0;
}

#section-header li.top-link {
	width:100%;
}

#region-header-second ul.top-menu li {
	float: 			right;
	text-align: 	right;	
	width:			100%;	
}

/* Featured Blogs and Galleries */
#block-views-wp-blog-latest-posts-block-1 .block-inner, #block-views-wp-blog-latest-posts-block-3 .block-inner {
	margin:			0 auto;
	width:			700px;
}


.blog-thumbnail, .gallery-thumbnail {
	border:				3px solid white;
	margin:				3px;
	width:				220px; 
	height: 			150px;
	float:				left;
	position: 			relative;  
    overflow: 			hidden; 
    -webkit-box-shadow: 1px 1px 1px 1px #eee;  
    -moz-box-shadow: 	1px 1px 1px 1px #eee;  
    box-shadow: 		1px 1px 1px 1px #eee; 
}

.blog-thumbnail img, .gallery-thumbnail img {
	position: 			absolute;  
    left: 				0;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: 	all 300ms ease-out;  
    -o-transition: 		all 300ms ease-out;  
    -ms-transition: 	all 300ms ease-out;  
    transition: 		all 300ms ease-out;
    }
/*CAption control*/
.blog-thumbnail .caption, .gallery-thumbnail .caption {
	font-size: 			16px;
	background-color: 	rgba(255,255,255,0.8);  
    position: 			absolute;  
    color: 				#000;  
    z-index: 			100;  
    -webkit-transition: all 400ms ease-out;  
    -moz-transition: 	all 400ms ease-out;  
    -o-transition: 		all 400ms ease-out;  
    -ms-transition: 	all 400ms ease-out;  
    transition: 		all 400ms ease-out;  
    left: 				0;  
    top: 				150px; 
    height:				100px;
    width:				200px; 
    padding:			30px 10px 20px 10px;

}
.blog-thumbnail:hover .caption, .gallery-thumbnail:hover .caption{
	-moz-transform: 	translateY(-100%);  
    -o-transform: 		translateY(-100%);  
    -webkit-transform: 	translateY(-100%);  
    transform: 			translateY(-100%); 
}

/*FAQ text alignment*/
#block-views-hp-slideshow-block-1 {
	background: url(../images/faq.png) left center no-repeat;
	height:600px;
}

#block-views-hp-slideshow-block-1 .flexslider {
	width:580px;
	float:right;
}
#block-views-hp-slideshow-block-1 .flexslider p {width:460px;}

#block-views-hp-slideshow-block-1 .flex-direction-nav .flex-next { right: 0 !important; opacity: 1 !important; }
#block-views-hp-slideshow-block-1 .flex-direction-nav .flex-prev { left: 0 !important; opacity: 1 !important; margin-left:-360px;}


