/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

 /*Menu*/
 .top-menu, .bottom-menu {display:inherit;}

#region-header-second ul.bottom-menu li {
margin-left:			10px;
text-align: 			right;	
float: 					right;
}

#region-header-first ul.bottom-menu li {
	margin-right:		10px;
}
